<nav class="font-medium text-sm flex flex-col divide-y divide-black/10 rounded-sm shrink-0 w-65">
  <a href="#" class="px-5 py-5.5 bg-white font-semibold border-b-0">Об организации</a>
  <a href="#" class="px-5 py-5.5">История ВКТ</a>
  <a href="#" class="px-5 py-5.5">Руководство и аппарат</a>
  <a href="#" class="px-5 py-5.5">Милли шура</a>
  <a href="#" class="px-5 py-5.5">Общественные организации</a>
  <a href="#" class="px-5 py-5.5">Стратегия действий</a>
  <a href="#" class="px-5 py-5.5">План работы конгресса</a>
  <a href="#" class="px-5 py-5.5">Документы</a>
</nav>
