<div class="bg-white pt-42.25 rounded-sm px-5 pb-5 relative font-medium text-xs overflow-hidden">
  <div class="absolute rounded-full size-55.5 bg-white2 grid place-content-center -top-9.75">
    <img src="./static/imgs/mocks/3.png" alt="" class="object-cover size-46 rounded-full bg-white" />
  </div>

  <span class="relative z-1 status bg-accent text-white">ПЕРСОНА</span>
  <p class="font-bold text-base -tracking-2 mt-4.5 mb-3.25">Поздравляем Давлятова Ильдуса Ядкаровича с днем рождения!</p>
  <p class="mb-2.75 text-thumb-button">Родился 20 декабря 1969 года</p>
  <p class="">Депутат Законодательного Собрания Оренбургской области 6 созыва, кандидат сельскохозяйственных наук.</p>
</div>
