<div class="pt-10 lg:pt-17.5 pb-10 lg:pb-20 lg:pr-14.5 news-comments">
  <h4 class="font-semibold text-block-header mb-7.5">Комментарии · 43</h4>

  <form action="#" class="mb-7.5 lg:mb-12.5">
    <p class="font-semibold -tracking-4 text-lg lg:text-xl mb-3 lg:mb-3.5 text-accent">Добавить комментарий</p>

    <textarea placeholder="Ваш комментарий" class="w-full pl-5 max-lg:h-24 py-4.5 pr-5.75 border border-grey rounded-sm text-base leading-[1.4] font-light text-[#203339] resize-none"></textarea>

    <div class="flex max-md:flex-col gap-2.5 lg:gap-5 mt-2.5 lg:mt-5">
      <input placeholder="Ваше имя" class="grow pl-5 py-4.5 pr-5.75 border border-grey rounded-sm text-base leading-[1.4] font-light text-[#203339]" />

      <button class="show-more-btn-accent md:w-67.5!">Добавиь комментарий</button>
    </div>
  </form>

  <div class="space-y-2.5 lg:space-y-5 mb-7.5">
    <div class="bg-grey2 rounded-sm p-4 lg:p-6.5 lg:pl-7.5 lg:pb-5">
      <div class="flex items-center justify-between gap-x-2.5">
        <div class="flex items-center gap-x-3">
          <div class="grid place-content-center bg-white rounded-full size-7">
            <img src="./static/imgs/icons/user.svg" alt="" width="20" height="20" />
          </div>

          <div>
            <p class="font-medium max-lg:text-sm leading-[1.1]">Сергей Рейдер</p>
            <p class="lg:hidden text-[8px] text-thumb-button font-medium">15 сентября · 13: 40</p>
          </div>
        </div>

        <p class="max-lg:hidden text-tiny text-thumb-button">15 сентября · 13: 40</p>
      </div>

      <p class="max-lg:text-sm mt-2.75 lg:mt-3.25">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the...</p>

      <button class="font-semibold text-xs text-accent mt-1 lg:mt-2.25">показать полностью</button>
    </div>

    <button class="show-more-btn border border-accent">Загрузить больше</button>
  </div>

  {% include 'blocks/pagination.html' %}
</div>
