<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
  <div class="mb-7.5 min-w-0 col-span-full relative">
    <div class="flex xl:justify-center no-scrollbar overflow-x-auto text-base gap-x-5 lg:text-xl xl:text-3xl font-light -tracking-4 xl:gap-x-10 text-thumb-button whitespace-nowrap">
      <button class="pb-4.25 text-black border-b border-accent">Все новости</button>
      <button class="pb-4.25">Культура</button>
      <button class="pb-4.25">Политика</button>
      <button class="pb-4.25">Молодёжь</button>
      <button class="pb-4.25">Религия</button>
      <button class="pb-4.25">В мире</button>
    </div>

    <div class="absolute inset-x-0 bottom-0 h-px bg-thumb-button -z-1"></div>
  </div>

  {% for _ in range(3) %}
  <a href="#" class="flex flex-col gap-2.5 lg:gap-5">
    <div class="overflow-hidden rounded-sm relative">
      <div class="bg-linear-to-b from-black/10 to-black/60 absolute size-full z-1"></div>
      <img src="./static/imgs/mocks/1.png" alt="" class="size-fit object-cover" />

      <div class="absolute z-2 inset-x-7.5 bottom-7.5 text-white text-tiny font-medium flex items-end gap-x-2 justify-between">
        <div>
          <p class="mb-4.5 text-2xl font-bold -tracking-2">Мин татарча сөйләшәм</p>
          <p>
            <span class="font-bold">Проект</span> · Активный
          </p>
        </div>

        <img src="./static/imgs/mocks/1.svg" alt="" width="88" height="88" />
      </div>
    </div>

    <div class="flex gap-7.5 items-center text-tiny">
      <button class="text-white rounded-sm bg-accent grid place-items-center h-12.5 w-27.5 font-semibold text-xs">Участвовать</button>

      <div>
        <p class="text-lg mb-0.75 font-bold -tracking-2">25 000</p>
        <p>Участников</p>
      </div>
      <div>
        <p class="text-lg mb-0.75 font-bold -tracking-2">86</p>
        <p>Городов мира</p>
      </div>
    </div>
  </a>
  {% endfor %}

  <a href="#" class="flex-col gap-2.5 lg:gap-5 hidden md:max-lg:flex">
    <div class="overflow-hidden rounded-sm relative">
      <div class="bg-linear-to-b from-black/10 to-black/60 absolute size-full z-1"></div>
      <img src="./static/imgs/mocks/1.png" alt="" class="size-fit object-cover" />

      <div class="absolute z-2 inset-x-7.5 bottom-7.5 text-white text-tiny font-medium flex items-end gap-x-2 justify-between">
        <div>
          <p class="mb-4.5 text-2xl font-bold -tracking-2">Мин татарча сөйләшәм</p>
          <p>
            <span class="font-bold">Проект</span> · Активный
          </p>
        </div>

        <img src="./static/imgs/mocks/1.svg" alt="" width="88" height="88" />
      </div>
    </div>

    <div class="flex gap-7.5 items-center text-tiny">
      <button class="text-white rounded-sm bg-accent grid place-items-center h-12.5 w-27.5 font-semibold text-xs">Участвовать</button>

      <div>
        <p class="text-lg mb-0.75 font-bold -tracking-2">25 000</p>
        <p>Участников</p>
      </div>
      <div>
        <p class="text-lg mb-0.75 font-bold -tracking-2">86</p>
        <p>Городов мира</p>
      </div>
    </div>
  </a>

  <a href="#" class="show-more-btn col-span-full">Все проекты конгресса</a>
</div>
