</main>

<div class="h-10 lg:h-20 shrink-0"></div>
<footer id="app-footer" class="pt-12.5 lg:pt-20 bg-white pb-7.5 lg:py-24 mt-auto">
  <div class="container">
    <div class="menu grid grid-cols-1 lg:flex justify-between text-xs max-lg:divide-y divide-grey max-lg:border-b border-grey">
      <div>
        <h4 class="mb-7.5 text-base font-semibold flex items-center justify-between">
          <span>Новости</span>
          <img src="./static/imgs/icons/footer/arrow-down.svg" alt="" class="lg:hidden"/>
        </h4>

        <nav class="flex flex-col gap-y-3.75">
          <a href="#">Культура</a>
          <a href="#">Политика</a>
          <a href="#">Молодёжь</a>
          <a href="#">Религия</a>
          <a href="#">В мире</a>
          <a href="#">Пресс-релизы</a>
          <a href="#">СМИ о нас</a>
        </nav>
      </div>

      <div>
        <h4 class="mb-7.5 text-base font-semibold flex items-center justify-between">
          <span>Проекты</span>
          <img src="./static/imgs/icons/footer/arrow-down.svg" alt="" class="lg:hidden"/>
        </h4>

        <nav class="flex flex-col gap-y-3.75">
          <a href="#">Образование</a>
          <a href="#">Культура</a>
          <a href="#">Молодёжь</a>
          <a href="#">Фестивали</a>
          <a href="#">Религия</a>
          <a href="#">Конкурсы</a>
          <a href="#">Акции</a>
        </nav>
      </div>

      <div>
        <h4 class="mb-7.5 text-base font-semibold flex items-center justify-between">
          <span>Медиа</span>
          <img src="./static/imgs/icons/footer/arrow-down.svg" alt="" class="lg:hidden"/>
        </h4>

        <nav class="flex flex-col gap-y-3.75">
          <a href="#">Студия «Дөнья»</a>
          <a href="#">Газета «Халкым минем»</a>
          <a href="#">Журнал «Туган җир»</a>
          <a href="#">Фотоальбомы</a>
          <a href="#">Видеоархив</a>
        </nav>
      </div>

      <div>
        <h4 class="mb-7.5 text-base font-semibold flex items-center justify-between">
          <span>О конгрессе</span>
          <img src="./static/imgs/icons/footer/arrow-down.svg" alt="" class="lg:hidden"/>
        </h4>

        <nav class="flex flex-col gap-y-3.75">
          <a href="#">Об организации</a>
          <a href="#">История ВКТ</a>
          <a href="#">Руководство и аппарат ВКТ</a>
          <a href="#">Милли шура</a>
          <a href="#">Общественные организации</a>
          <a href="#">Стратегия действий</a>
          <a href="#">План работы конгресса</a>
        </nav>
      </div>

      <div>
        <h4 class="mb-7.5 text-base font-semibold flex items-center justify-between">
          <span>Татарский мир</span>
          <img src="./static/imgs/icons/footer/arrow-down.svg" alt="" class="lg:hidden"/>
        </h4>

        <nav class="flex flex-col gap-y-3.75">
          <a href="#">Татарские организации</a>
          <a href="#">Представительства</a>
          <a href="#">СМИ в регионах</a>
          <a href="#">Татарские сёла</a>
          <a href="#">Афиша</a>
        </nav>
      </div>

      <div>
        <h4 class="mb-7.5 text-base font-semibold flex items-center justify-between">
          <span>Национальная жизнь</span>
          <img src="./static/imgs/icons/footer/arrow-down.svg" alt="" class="lg:hidden"/>
        </h4>

        <nav class="flex flex-col gap-y-3.75">
          <a href="#">История</a>
          <a href="#">Культура</a>
          <a href="#">Личности</a>
          <a href="#">Образование</a>
          <a href="#">Наука</a>
          <a href="#">Религия</a>
          <a href="#">Все</a>
        </nav>
      </div>
    </div>

    <div class="mt-7.5 lg:mt-25 flex flex-wrap items-center gap-x-12.75 gap-y-7.5">
      <div class="flex flex-wrap gap-x-6 text-xs gap-y-7.5">
        <a href="#" class="flex items-center gap-x-2">
          <img src="./static/imgs/icons/footer/arrow.svg" alt="" width="16" height="16"/>
          <span>Подписаться на новости</span>
        </a>

        <div class="flex items-center gap-x-2">
          <a href="#" class="flex items-center gap-x-2">
            <img src="./static/imgs/icons/footer/vk.svg" alt="" width="16" height="16"/>
            <span>Вконтакте</span>
          </a>
          <a href="#" class="flex items-center gap-x-2">
            <img src="./static/imgs/icons/footer/max.svg" alt="" width="16" height="16"/>
            <span>Max</span>
          </a>
          <a href="#" class="flex items-center gap-x-2">
            <img src="./static/imgs/icons/footer/rutube.svg" alt="" width="16" height="16"/>
            <span>RuTube</span>
          </a>
        </div>
      </div>

      <div class="flex gap-x-5 gap-y-3.5 lg:gap-x-7.5 flex-wrap text-thumb-button text-tiny">
        <p>© 2025 Всемирный Конгресс Татар</p>
        <a href="#">Политика конфиденциальности</a>
        <a href="#">Карта сайта</a>
      </div>
    </div>
  </div>
</footer>

<script src="./static/js/embla-carousel.umd.min.js" defer></script>
<script src="./static/js/simplebar.min.js" defer></script>
<script src="./static/js/index.js" defer></script>
</body>
</html>
