<a href="#" class="relative shrink-0 rounded-sm overflow-hidden p-7.5 flex flex-col justify-end aspect-square">
  <div class="-z-1 absolute size-full bg-linear-to-b from-black/10 to-black/60 top-0 left-0"></div>
  <img src="./static/imgs/mocks/1.png" alt="" class="size-full absolute object-cover -z-2 top-0 left-0" />

  <img src="./static/imgs/icons/video-play.svg" alt="" width="50" height="50" />

  <p class="mt-5 mb-4.5 font-bold text-white line-clamp-4">
    Открытие мемориальной доски советскому пограничнику, Герою Советского Союза Гильфану Батаршину
  </p>

  <div class="flex justify-between">
    <span class="bg-white status">ВИДЕО</span>
    <span class="text-tiny font-medium text-white/50">12 часов назад</span>
  </div>
</a>
