<a href="#" class="relative size-full max-sm:-mx-4.25">
  <div class="sm:rounded-sm relative overflow-hidden w-full sm:size-full">
    <div class="z-1 size-full absolute max-sm:hidden from-black/10 to-black/60 bg-linear-to-b"></div>
    <img src="./static/imgs/mocks/1.png" alt="" class="size-full object-cover" />
  </div>

  <div class="max-sm:text-black sm:absolute sm:left-7.5 sm:bottom-7.75 sm:right-7.5 z-2 pb-0 p-4 sm:p-0">
    <div class="mb-4 sm:mb-6 flex justify-between text-xs">
      <p class="max-sm:text-accent uppercase">
        <span class="font-bold">Новость</span> · Анонс
      </p>

      <p>Сегодня 13:40</p>
    </div>
    <p class="sm:pr-29 -tracking-2 text-lg sm:text-2xl font-bold">Васил Гаязович провел рабочую встречу с главой Якутии Айсеном Николаевым по вопросу дальнейшего сотрудничества</p>
  </div>

  <img src="./static/imgs/icons/arrow-up-right.svg" alt="" class="max-sm:hidden absolute size-12.5 bottom-4 right-4 z-2" />
</a>
