<a href="#" class="text-tiny flex max-sm:flex-col items-stretch bg-white rounded-sm">
  <img src="./static/imgs/mocks/1.png" alt="" class="w-full aspect-356/218 sm:w-1/2 md:w-82 rounded-sm shrink-0 object-cover" />

  <div class="p-4 lg:px-7.5 lg:py-5.5 flex flex-col min-w-0">
    <p class="uppercase text-accent">
      <span class="font-bold">Новость</span> · Анонс
    </p>

    <div class="grow">
      <p class="-tracking-2 font-bold text-black lg:line-clamp-4 text-base lg:text-lg mt-3 mb-4.5">Республиканский конкурс «Татар кызы 2026» объявляет старт муниципальных и зональных этапов!</p>
    </div>

    <p class="text-thumb-button">16 часов назад</p>
  </div>
</a>
