<div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-5">
  <a href="#" class="text-tiny rounded-sm flex flex-col bg-white">
    <img src="./static/imgs/mocks/1.png" alt="" class="object-cover rounded-sm aspect-video sm:h-50" />

    <div class="p-4 xl:px-7.5 xl:pt-5.5 xl:pb-5.25 grow flex flex-col">
      <p class="text-accent uppercase">
        <span class="font-bold">Новость</span> · Политика
      </p>
      <p class="-tracking-2 mt-3.25 mb-1 line-clamp-5 font-bold text-base grow">
        Раскрой свой потенциал: в Татарстане стартует премия «Студент года Республики Татарстан — 2025»
      </p>
      <p class="text-thumb-button">2 дня назад</p>
    </div>
  </a>

  <a href="#" class="text-tiny rounded-sm flex flex-col bg-white">
    <img src="./static/imgs/mocks/1.png" alt="" class="object-cover rounded-sm aspect-video sm:h-50" />

    <div class="p-4 xl:px-7.5 xl:pt-5.5 xl:pb-5.25 grow flex flex-col">
      <p class="text-accent uppercase">
        <span class="font-bold">Новость</span> · Политика
      </p>
      <p class="-tracking-2 mt-3.25 mb-1 line-clamp-5 font-bold text-base grow">
        Активистка РНКАТНО, Динара Юсипова – участница IV Межнационального молодёжного форума «ЭтноСМАРТ»
      </p>
      <p class="text-thumb-button">2 дня назад</p>
    </div>
  </a>

  <div class="sm:col-span-2 divide-y divide-grey bg-white rounded-sm grid grid-rows-3">
    <a href="#" class="pr-0.5 py-1 pl-3.5 xl:pl-8 first:pt-0.5 last:pb-0.5 flex gap-x-4.5">
      <div class="grow py-3.5 xl:py-4.75">
        <div class="flex justify-between text-tiny ">
          <p class="text-accent uppercase">
            <span class="font-bold">Новость</span> · Политика
          </p>
          <span class="text-thumb-button">2 дня назад</span>
        </div>
        <p class="-tracking-2 font-bold mt-2.75">
          Молодежь Татарской национально-культурной автономии Пензенской области отмечена наградами
          за вклад в развитие «Движения первых»
        </p>
      </div>
      <img src="./static/imgs/mocks/1.png" alt="" class="object-cover size-25 xl:size-31.5 rounded-xs shrink-0" />
    </a>

    <a href="#" class="pr-0.5 py-1 pl-3.5 xl:pl-8 first:pt-0.5 last:pb-0.5 flex gap-x-4.5">
      <div class="grow py-3.5 xl:py-4.75">
        <div class="flex justify-between text-tiny ">
          <p class="text-accent uppercase">
            <span class="font-bold">Новость</span> · Политика
          </p>
          <span class="text-thumb-button">2 дня назад</span>
        </div>
        <p class="-tracking-2 font-bold mt-2.75">
          В Казани стартовал Форум преподавателей мусульманских образовательных организаций
        </p>
      </div>
      <img src="./static/imgs/mocks/1.png" alt="" class="object-cover size-25 xl:size-31.5 rounded-xs shrink-0" />
    </a>

    <a href="#" class="pr-0.5 py-1 pl-3.5 xl:pl-8 first:pt-0.5 last:pb-0.5 flex gap-x-4.5">
      <div class="grow py-3.5 xl:py-4.75">
        <div class="flex justify-between text-tiny ">
          <p class="text-accent uppercase">
            <span class="font-bold">Новость</span> · Политика
          </p>
          <span class="text-thumb-button">2 дня назад</span>
        </div>
        <p class="-tracking-2 font-bold mt-2.75">
          «Десант» татарских хазратов выехал в районы Татарстана с лекциями об исламе и нравственности
        </p>
      </div>
      <img src="./static/imgs/mocks/1.png" alt="" class="object-cover size-25 xl:size-31.5 rounded-xs shrink-0" />
    </a>
  </div>

  <a href="#" class="show-more-btn col-span-full">Смотреть все новости</a>
</div>
