<ul class="font-semibold text-xs flex justify-center gap-x-2.5">
  <li>
    <a href="#" class="rounded-sm border border-accent size-7.5 grid place-content-center">1</a>
  </li>
  <li>
    <a href="#" class="rounded-sm border border-grey size-7.5 grid place-content-center">2</a>
  </li>
  <li>
    <a href="#" class="rounded-sm border border-grey size-7.5 grid place-content-center">3</a>
  </li>
  <li>
    <a href="#" class="rounded-sm border border-grey size-7.5 grid place-content-center">4</a>
  </li>

  <li class="size-7.5 rounded-sm grid place-content-center">· · ·</li>

  <li>
    <a href="#" class="rounded-sm border border-accent size-7.5 grid place-content-center">14</a>
  </li>
  <li>
    <a href="#" class="rounded-sm border border-grey size-7.5 grid place-content-center">15</a>
  </li>
  <li>
    <a href="#" class="rounded-sm border border-grey size-7.5 grid place-content-center">16</a>
  </li>
  <li>
    <a href="#" class="rounded-sm border border-grey size-7.5 grid place-content-center">17</a>
  </li>
</ul>
