<div class="flex gap-x-2.5 font-semibold no-scrollbar text-sm whitespace-nowrap overflow-x-auto">
  <button class="rounded-sm border border-accent h-11 lg:h-16 grid place-content-center px-4 lg:px-4.5">Все новости</button>
  <button class="rounded-sm border border-button h-11 lg:h-16 grid place-content-center px-4 lg:px-4.5">Культура</button>
  <button class="rounded-sm border border-button h-11 lg:h-16 grid place-content-center px-4 lg:px-4.5">Политика</button>
  <button class="rounded-sm border border-button h-11 lg:h-16 grid place-content-center px-4 lg:px-4.5">Молодёжь</button>
  <button class="rounded-sm border border-button h-11 lg:h-16 grid place-content-center px-4 lg:px-4.5">Религия</button>
  <button class="rounded-sm border border-button h-11 lg:h-16 grid place-content-center px-4 lg:px-4.5">В мире</button>
</div>
