<div class="flex gap-x-2.5 font-semibold text-sm">
  <button class="rounded-sm border border-accent py-5.75 px-4.5">Все новости</button>
  <button class="rounded-sm border border-button py-5.75 px-4.5">Культура</button>
  <button class="rounded-sm border border-button py-5.75 px-4.5">Политика</button>
  <button class="rounded-sm border border-button py-5.75 px-4.5">Молодёжь</button>
  <button class="rounded-sm border border-button py-5.75 px-4.5">Религия</button>
  <button class="rounded-sm border border-button py-5.75 px-4.5">В мире</button>
</div>
