<div class="embla flex gap-x-2.5 font-semibold text-sm">
  <div class="embla__viewport grow">
    <div class="embla__container whitespace-nowrap">
      <button class="rounded-sm border border-accent h-16 grid place-content-center px-4.5">Все новости</button>
      <button class="rounded-sm border border-button h-16 grid place-content-center px-4.5">Культура</button>
      <button class="rounded-sm border border-button h-16 grid place-content-center px-4.5">Политика</button>
      <button class="rounded-sm border border-button h-16 grid place-content-center px-4.5">Молодёжь</button>
      <button class="rounded-sm border border-button h-16 grid place-content-center px-4.5">Религия</button>
      <button class="rounded-sm border border-button h-16 grid place-content-center px-4.5">В мире</button>
      <button class="rounded-sm border border-accent h-16 grid place-content-center px-4.5">Все новости</button>
      <button class="rounded-sm border border-button h-16 grid place-content-center px-4.5">Культура</button>
      <button class="rounded-sm border border-button h-16 grid place-content-center px-4.5">Политика</button>
      <button class="rounded-sm border border-button h-16 grid place-content-center px-4.5">Молодёжь</button>
      <button class="rounded-sm border border-button h-16 grid place-content-center px-4.5">Религия</button>
      <button class="rounded-sm border border-button h-16 grid place-content-center px-4.5">В мире</button>
    </div>
  </div>

  <button class="embla__next cursor-pointer shrink-0 flex items-center justify-center w-9 bg-white rounded-sm">
    <img src="./static/imgs/icons/slider-arrow-right.svg" alt="" width="20" height="20" />
  </button>
</div>
