@media (width < 1024px) {
    #app-footer {
        .menu {
            & > div {
                padding: 18px 0;

                h4 {
                    margin-bottom: 0;
                }

                nav {
                    margin-top: 14px;
                    row-gap: 14px;
                    display: none;
                }

                &.active {
                    h4 {
                        color: var(--color-accent);

                        img {
                            transform: rotate(180deg);
                        }
                    }

                    nav {
                        display: flex;
                    }
                }

                &:first-child {
                    padding-top: 0;
                }
            }
        }
    }
}
