@import "tailwindcss";
@import "./custom.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./simplebar.css";
@import "./table.css";
@import "./news-in.css";
@import "./map.css";

@theme {
    --color-button: #E5E5E5;
    --color-grey: #EFEFEF;
    --color-grey2: #F6F6F6;
    --color-accent: #E89702;
    --color-thumb-button: #B3B3B3;
    --color-white2: #F1F1F1;

    --text-tiny: 10px;
    --text-tiny--line-height: 1.2;
    --text-xs--line-height: 1.2;
    --text-sm--line-height: 1.2;
    --text-base--line-height: 1.2;
    --text-lg--line-height: 1.2;
    --text-xl--line-height: 1.2;
    --text-2xl--line-height: 1.2;
    --text-3xl--line-height: 1.2;
    --text-4xl--line-height: 1.2;

    --text-page-header: clamp(30px, 3vw, 38px);
    --text-page-header--line-height: 1.2;
    --text-page-header--font-weight: 300;
    --text-page-header--letter-spacing: -0.04em;

    --text-block-header: clamp(24px, 2vw, 30px);
    --text-block-header--line-height: 1.2;
    --text-block-header--font-weight: 300;
    --text-block-header--letter-spacing: -0.04em;

    --tracking-1: 0.01em;
    --tracking-2: 0.02em;
    --tracking-4: 0.04em;
}

@media (width <= 768px) {
    :root {
        --text-block-header--font-weight: 600;
    }
}
