{% include 'blocks/header.html' %}

<section class="mb-10 lg:mb-25">
  {% include 'blocks/breadcrumbs.html' %}

  <div class="flex gap-x-10 xl:gap-x-22">
    <div class="max-lg:hidden shrink-0 w-65">
      {% include 'blocks/about-nav.html' %}
    </div>

    <div class="grow min-w-0">
      <h1 class="text-page-header mb-5 lg:mb-12.5">Документы</h1>

      {% include 'blocks/documents.html' %}

      <button class="max-lg:mt-2.5 my-7.5 show-more-btn">Загрузить больше</button>

      {% include 'blocks/pagination.html' %}
    </div>
  </div>
</section>

{% include 'blocks/map.html' %}

{% include 'blocks/footer.html' %}
