{% include 'blocks/header.html' %}

<section class="mb-10 md:mb-25">
  {% include 'blocks/breadcrumbs.html' %}

  <div class="flex gap-x-10 xl:gap-x-22">
    <div class="max-lg:hidden shrink-0 w-65">
      {% include 'blocks/about-nav.html' %}
    </div>

    <div class="font-light">
      <h1 class="text-page-header mb-5 lg:mb-14.5">История всемирного конгресса татар</h1>
      <p class="text-lg md:text-xl leading-[1.4] mb-10 md:mb-20">
        В целом, период 2000–2024 годов характеризуется регулярным проведением Съездов, направленных на усиление роли ВКТ как главного координационного центра татарского народа, а также структурными изменениями (2018 год), которые подтвердили ее статус
        и централизовали управление.
      </p>

      <div class="relative">
        <div class="absolute left-1.5 xl:left-71.75 top-4 w-px bottom-0 bg-accent"></div>

        <div class="flex items-start max-xl:pl-10.5 max-xl:flex-col relative gap-x-20 leading-[1.4] pb-10 xl:pb-17.5">
          <div class="absolute -left-3.5 xl:left-67.5 top-2.5 size-8.75 grid place-content-center bg-grey2">
            <div class="size-2.75 rounded-sm bg-accent"></div>
          </div>

          <p class="block xl:hidden mb-5 text-[40px] leading-none">2002</p>

          <img src="./static/imgs/mocks/1.png" alt="" class="object-cover max-w-full w-61 aspect-244/162 rounded-sm mb-5.5 xl:mt-2" />

          <div>
            <p class="max-xl:hidden leading-none text-[50px] mb-7">2002</p>
            <p class="mb-3.5 xl:mb-2.5 text-lg lg:text-[26px] leading-[1.4] font-semibold">III съезд всемирного конгресса</p>
            <p class="text-xl">
              В мае в Казани состоялся III Съезд Всемирного конгресса татар. Съезды являются высшим органом Конгресса, на которых определяются основные направления деятельности и избираются руководящие органы.
            </p>
          </div>
        </div>

        <div class="flex items-start max-xl:pl-10.5 max-xl:flex-col relative gap-x-20 leading-[1.4] pb-10 xl:pb-17.5">
          <div class="absolute -left-3.5 xl:left-67.5 top-2.5 size-8.75 grid place-content-center bg-grey2">
            <div class="size-2.75 rounded-sm bg-accent"></div>
          </div>

          <p class="block xl:hidden mb-5 text-[40px] leading-none">2007</p>

          <img src="./static/imgs/mocks/1.png" alt="" class="object-cover max-w-full w-61 aspect-244/162 rounded-sm mb-5.5 xl:mt-2" />

          <div>
            <p class="max-xl:hidden leading-none text-[50px] mb-7">2007</p>
            <p class="mb-3.5 xl:mb-2.5 text-lg lg:text-[26px] leading-[1.4] font-semibold">IV съезд всемирного конгресса</p>
            <p class="text-xl">
              С 12 по 15 декабря прошел IV Съезд в Казани, продолживший работу по консолидации татарского народа, проживающего
              в России и за рубежом, а также по продвижению
              татарского языка и культуры.
            </p>
          </div>
        </div>

        <div class="flex items-start max-xl:pl-10.5 max-xl:flex-col relative gap-x-20 leading-[1.4]">
          <div class="absolute -left-3.5 xl:left-67.5 top-2.5 size-8.75 grid place-content-center bg-grey2">
            <div class="size-2.75 rounded-sm bg-accent"></div>
          </div>

          <div class="absolute top-8.75 left-71.75 z-2 bottom-0 w-px bg-linear-to-t from-grey2 to-accent"></div>

          <p class="block xl:hidden mb-5 text-[40px] leading-none">2012</p>

          <img src="./static/imgs/mocks/1.png" alt="" class="object-cover max-w-full w-61 aspect-244/162 rounded-sm mb-5.5 xl:mt-2" />

          <div>
            <p class="max-xl:hidden leading-none text-[50px] mb-7">2012</p>
            <p class="mb-3.5 xl:mb-2.5 text-lg lg:text-[26px] leading-[1.4] font-semibold">V съезд всемирного конгресса</p>
            <p class="text-xl">
              В декабре в Казани состоялся V Съезд, который подвел итоги пятилетней работы и наметил новые цели по укреплению
              связей с татарскими диаспорами.
            </p>
          </div>
        </div>
      </div>

      <button class="mt-10 md:mt-17.5 show-more-btn-accent">Руководство и аппарат ВКТ</button>
    </div>
  </div>
</section>

{% include 'blocks/map.html' %}

{% include 'blocks/footer.html' %}
