{% include 'blocks/header.html' %}

<section class="mb-25">
  {% include 'blocks/breadcrumbs.html' %}

  <div class="flex gap-x-22">
    {% include 'blocks/about-nav.html' %}

    <div class="font-light">
      <h1 class="text-page-header mb-14.5">История всемирного конгресса татар</h1>
      <p class="text-xl leading-[1.4] mb-20">
        В целом, период 2000–2024 годов характеризуется регулярным проведением Съездов, направленных на усиление роли ВКТ как главного координационного центра татарского народа, а также структурными изменениями (2018 год), которые подтвердили ее статус
        и централизовали управление.
      </p>

      <div class="relative">
        <div class="absolute left-71.75 top-4 w-px bottom-0 bg-accent"></div>

        <div class="flex items-start relative gap-x-20 leading-[1.4] pb-17.5">
          <div class="absolute left-67.5 top-0 size-8.75 grid place-content-center bg-grey2">
            <div class="size-2.75 rounded-sm bg-accent"></div>
          </div>

          <img src="./static/imgs/mocks/1.png" alt="" class="object-cover w-61 aspect-244/162 rounded-sm" />

          <div>
            <p class="leading-none text-[50px] mb-7">2002</p>
            <p class="mb-2.5 text-[26px] font-semibold">III съезд всемирного конгресса</p>
            <p class="text-xl">
              В мае в Казани состоялся III Съезд Всемирного конгресса татар. Съезды являются высшим органом Конгресса, на которых определяются основные направления деятельности и избираются руководящие органы.
            </p>
          </div>
        </div>

        <div class="flex items-start relative gap-x-20 leading-[1.4] pb-17.5">
          <div class="absolute left-67.5 top-0 size-8.75 grid place-content-center bg-grey2">
            <div class="size-2.75 rounded-sm bg-accent"></div>
          </div>

          <img src="./static/imgs/mocks/1.png" alt="" class="object-cover w-61 aspect-244/162 rounded-sm" />

          <div>
            <p class="leading-none text-[50px] mb-7">2007</p>
            <p class="mb-2.5 text-[26px] font-semibold">IV съезд всемирного конгресса</p>
            <p class="text-xl">
              С 12 по 15 декабря прошел IV Съезд в Казани, продолживший работу по консолидации татарского народа, проживающего
              в России и за рубежом, а также по продвижению
              татарского языка и культуры.
            </p>
          </div>
        </div>

        <div class="flex items-start relative gap-x-20 leading-[1.4]">
          <div class="absolute left-67.5 top-0 size-8.75 grid place-content-center bg-grey2">
            <div class="size-2.75 rounded-sm bg-accent"></div>
          </div>

          <div class="absolute top-8.75 left-71.75 z-2 bottom-0 w-px bg-linear-to-t from-grey2 to-accent"></div>

          <img src="./static/imgs/mocks/1.png" alt="" class="object-cover w-61 aspect-244/162 rounded-sm" />

          <div>
            <p class="leading-none text-[50px] mb-7">2012</p>
            <p class="mb-2.5 text-[26px] font-semibold">V съезд всемирного конгресса</p>
            <p class="text-xl">
              В декабре в Казани состоялся V Съезд, который подвел итоги пятилетней работы и наметил новые цели по укреплению
              связей с татарскими диаспорами.
            </p>
          </div>
        </div>
      </div>

      <button class="mt-17.5 show-more-btn-accent">Руководство и аппарат всемирного конгресса татар</button>
    </div>
  </div>
</section>

{% include 'blocks/map.html' %}

{% include 'blocks/footer.html' %}
