{% include 'blocks/header.html' %}

<section>
  {% include 'blocks/breadcrumbs.html' %}

  <div class="flex gap-x-10 xl:gap-x-22">
    <div class="max-lg:hidden shrink-0 w-65">
      {% include 'blocks/about-nav.html' %}
    </div>

    <div class="grow min-w-0 font-light">
      <div class="flex max-m576:flex-col gap-5 md:gap-x-10.75">
        <img src="./static/imgs/mocks/4.png" alt="" class="object-cover aspect-square w-full m576:w-70 xl:w-82.5 shrink-0 bg-white rounded-sm" />

        <div>
          <span class="mb-2.5 md:mb-8.25 text-tiny md:text-sm font-medium">Родился 3 фев 1963, д. Саитово, Мензелинский район, ТАССР</span>

          <h1 class="text-page-header font-semibold mb-2.5 md:mb-6.25">Шайхразиев Василь Габтелгаязович</h1>

          <div class="bg-accent h-px w-17.5 mb-5 md:mb-7.25"></div>

          <ul class="space-y-2.5 max-md:text-tiny font-medium">
            <li>Заместитель Премьер-министра Республики Татарстан</li>
            <li>Председатель Национального Совета Всемирного конгресса татар</li>
          </ul>
        </div>
      </div>

      <div class="h-px bg-black/10 mt-10 md:mt-12 mb-10"></div>

      <p class="text-lg md:text-xl mb-10 md:mb-15">
        30 июля-2 августа 2022 года состоялся VIII съезд Всемирного конгресса татар.
        На пленарном заседании съезда заместитель Премьер-Министра Республики Татарстан
        Василь Габтелгаязович Шайхразиев единогласно избран председателем
        Национального совета на второй срок.
      </p>

      <h3 class="font-semibold text-block-header mb-5 md:mb-7.5">Образование</h3>
      <ul class="text-base md:text-xl space-y-5 md:space-y-7.5 mb-10 md:mb-15">
        <li class="relative flex">
          <span class="shrink-0 w-22 md:w-40 border-t pt-4.5 border-accent font-semibold max-md:text-sm">1990</span>
          <p class="pt-4.5 border-t border-black/10">В 1990 году окончил Высшую юридическую заочную школу МВД СССР, по специальности «Правоведение», юрист.</p>
        </li>
      </ul>

      <h3 class="font-semibold text-block-header mb-5 md:mb-7.5">Трудовая деятельность</h3>
      <ul class="text-base md:text-xl space-y-5 md:space-y-7.5 mb-10 md:mb-15">
        <li class="relative flex">
          <span class="shrink-0 w-22 md:w-40 border-t pt-4.5 border-accent font-semibold max-md:text-sm">1980 - 1981</span>
          <p class="pt-4.5 border-t border-black/10">Работа монтером подкрановых путей УМС УС «Автозаводстрой»,
            город Набережные Челны.</p>
        </li>
        <li class="relative flex">
          <span class="shrink-0 w-22 md:w-40 border-t pt-4.5 border-accent font-semibold max-md:text-sm">1980 - 1981</span>
          <p class="pt-4.5 border-t border-black/10">Служба по призыву в пограничных войсках КГБ СССР, г.Биробиджан ЕАО.</p>
        </li>
      </ul>

      <h3 class="font-semibold text-block-header mb-5 md:mb-7.5">Награды</h3>
      <ul class="text-base md:text-xl space-y-5 md:space-y-7.5 mb-10 md:mb-15">
        <li class="relative flex">
          <span class="shrink-0 w-22 md:w-40 border-t pt-4.5 border-accent font-semibold max-md:text-sm">2025</span>
          <p class="pt-4.5 border-t border-black/10">Почетный знак «За труд во благо земли Самарской»</p>
        </li>
        <li class="relative flex">
          <span class="shrink-0 w-22 md:w-40 border-t pt-4.5 border-accent font-semibold max-md:text-sm">2025</span>
          <p class="pt-4.5 border-t border-black/10">Орден «Александра Невского»</p>
        </li>
      </ul>

      <h3 class="font-semibold text-block-header mb-5 md:mb-7.5">Контакты</h3>
      <div class="border-t border-black/10 pt-7 flex max-sm:flex-col gap-y-5 justify-between">
        <a href="mailto:pr.shayhraziev@tatar.ru" class="flex flex-col leading-[1.4]">
          <p class="mb-0.5 text-sm font-medium">Электронная почта</p>
          <p class="font-semibold">pr.shayhraziev@tatar.ru</p>
        </a>

        <div class="flex gap-x-2.5">
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-12.5 grid place-content-center">
            <img src="./static/imgs/icons/social/tg.svg" alt="" width="18" height="18" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-12.5 grid place-content-center">
            <img src="./static/imgs/icons/social/wa.svg" alt="" width="18" height="18" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-12.5 grid place-content-center">
            <img src="./static/imgs/icons/social/vk.svg" alt="" width="18" height="18" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-12.5 grid place-content-center">
            <img src="./static/imgs/icons/social/max.svg" alt="" width="18" height="18" />
          </a>
        </div>
      </div>

      <div class="mt-15 md:mt-30 space-y-5 md:space-y-17.5">
        {% for _ in range(3) %}
        {% include 'blocks/about3-person.html' %}
        {% endfor %}

        <button class="show-more-btn">Загрузить больше</button>
      </div>
    </div>
  </div>
</section>

{% include 'blocks/footer.html' %}
