{% include 'blocks/header.html' %}

<section class="mb-10 md:mb-25">
  {% include 'blocks/breadcrumbs.html' %}

  <div class="flex gap-x-10 xl:gap-x-22">
    <div class="max-lg:hidden shrink-0 w-65">
      {% include 'blocks/about-nav.html' %}
    </div>

    <div class="grow min-w-0">
      <h1 class="text-page-header mb-14.5">Национальный совет — Милли Шура</h1>

      <div class="space-y-5 lg:space-y-17.5">
        {% for _ in range(3) %}
        {% include 'blocks/about3-person.html' %}
        {% endfor %}

        <button class="show-more-btn">Загрузить больше</button>
      </div>

      <button class="mt-10 md:mt-17.5 show-more-btn-accent">Национальный совет (Милли Шура) всемирного конгресса татар</button>
    </div>
  </div>
</section>

{% include 'blocks/map.html' %}

{% include 'blocks/footer.html' %}
