{% include 'blocks/header.html' %}

<section class="container mb-17.5">
  {% include 'blocks/breadcrumbs.html' %}

  <h1 class="text-page-header mb-7.5">Контакты всемирного конгресса татар</h1>

  <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-5">
    <div class="bg-white rounded-sm p-3.5 md:p-7.5 md:pt-5.75 flex flex-col">
      <p class="text-accent font-medium text-xl">Приёмная</p>

      <a class="mt-5 md:mt-14.75 text-xl font-bold" href="tel:88432365916">8 843 236-59-16</a>
      <p class="mt-1 text-xs font-medium text-thumb-button">Пн - Сб с 10:00 до 19:00, Вс выходной</p>

      <a class="mt-5 md:mt-6.75 text-xl font-medium" href="mailto:info@tatar-congress.org">info@tatar-congress.org</a>
      <p class="mt-1 text-xs font-medium text-thumb-button">Электронная почта</p>

      <div class="mt-5.5 md:mt-auto">
        <button class="mt-2 show-more-btn bg-accent! text-white">Записаться на прием</button>
      </div>
    </div>

    <div class="bg-white rounded-sm p-3.5 md:p-7.5 md:pt-5.75 flex flex-col">
      <p class="text-accent font-medium text-xl">Адрес</p>

      <p class="mt-5 md:mt-13.75 text-xl font-medium">Татарстан, Казань, Театральная улица, 5/38</p>

      <p class="text-xs font-medium text-thumb-button mb-1 md:mb-1.75 mt-5 md:mt-5.5">Юридический адрес</p>
      <p class="text-xs font-medium text-thumb-button">420015, г.Казань, ул.Карла Маркса 38</p>

      <div class="mt-5.5 md:mt-auto">
        <button class="mt-2 show-more-btn bg-grey2!">Открыть на карте</button>
      </div>
    </div>

    <div class="bg-white rounded-sm p-3.5 md:p-7.5 md:pt-5.75 flex flex-col">
      <p class="text-accent font-medium text-xl">Пресс-служба</p>

      <a class="mt-5 md:mt-14.75 text-xl font-bold" href="tel:88432997717">8 843 299-77-17</a>
      <p class="mt-1 text-xs font-medium text-thumb-button">Пн - Сб с 10:00 до 19:00, Вс выходной</p>

      <a class="mt-5 md:mt-6.75 text-xl font-medium" href="mailto:press@tatar-congress.org">press@tatar-congress.org</a>
      <p class="mt-1 text-xs font-medium text-thumb-button">Электронная почта</p>

      <div class="mt-5.5 md:mt-auto">
        <button class="mt-2 show-more-btn bg-grey2!">Написать в пресс-службу</button>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-5">
      <a href="#" class="bg-white rounded-sm flex flex-col items-center text-center p-5.5 md:p-7.5">
        <div class="max-md:hidden size-23.5 mb-5.5">
          <img src="./static/imgs/mocks/qr.png" alt="" class="size-full object-contain" />
        </div>

        <img src="./static/imgs/icons/social/tg-black.svg" alt="" width="38" height="38" class="mb-2" />
        <p class="text-sm font-bold">Telegram</p>
        <p class="text-tiny font-medium">@congress_tatar</p>

        <div class="max-md:hidden mt-5.5 h-12.5 grid place-content-center bg-grey2 rounded-sm w-full">
          <svg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m.5 14.5 14-14M3.125.5H14.5v11.375" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
      </a>

      <a href="#" class="bg-white rounded-sm flex flex-col items-center text-center p-5.5 md:p-7.5">
        <div class="max-md:hidden size-23.5 mb-5.5">
          <img src="./static/imgs/mocks/qr.png" alt="" class="size-full object-contain" />
        </div>

        <img src="./static/imgs/icons/social/vk-black.svg" alt="" width="38" height="38" class="mb-2" />
        <p class="text-sm font-bold">ВКонтакте</p>
        <p class="text-tiny font-medium">@tatarcongress</p>

        <div class="max-md:hidden mt-5.5 h-12.5 grid place-content-center bg-grey2 rounded-sm w-full">
          <svg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m.5 14.5 14-14M3.125.5H14.5v11.375" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </div>
      </a>
    </div>

    <div class="col-span-full bg-white rounded-sm p-3.5 md:p-7.5 md:pt-5.75">
      <p class="text-accent font-medium text-xl mb-10">Обратная связь</p>

      <p class="text-2xl md:text-3xl -tracking-4 font-light mb-10.75">Напишите нам свой вопрос или предложение</p>

      <form>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-x-5 gap-y-6">
          <label class="relative">
            <span class="text-tiny absolute top-0 left-0 cursor-pointer font-medium">Ваше имя</span>

            <input class="text-sm placeholder:text-thumb-button pt-4.5 pb-2 border-b border-grey w-full" placeholder="Ильдар" name="name" />
          </label>

          <label class="relative">
            <span class="text-tiny absolute top-0 left-0 cursor-pointer font-medium">Фамилия</span>

            <input class="text-sm placeholder:text-thumb-button pt-4.5 pb-2 border-b border-grey w-full" placeholder="Мухаметшин" name="surname" />
          </label>

          <label class="relative">
            <span class="text-tiny absolute top-0 left-0 cursor-pointer font-medium">Номер телефона</span>

            <input class="text-sm placeholder:text-thumb-button pt-4.5 pb-2 border-b border-grey w-full" placeholder="+7" type="tel" name="tel" />
          </label>

          <label class="relative">
            <span class="text-tiny absolute top-0 left-0 cursor-pointer font-medium">Электронная почта</span>

            <input class="text-sm placeholder:text-thumb-button pt-4.5 pb-2 border-b border-grey w-full" placeholder="myname@mail.com" type="email" name="email" />
          </label>

          <label class="relative col-span-full">
            <span class="text-tiny absolute top-0 left-0 cursor-pointer font-medium">Ваше сообщение</span>

            <input class="text-sm placeholder:text-thumb-button pt-4.5 pb-2 border-b border-grey w-full" placeholder="Меня интересует..." name="message" />
          </label>
        </div>

        <div class="flex items-center gap-x-5 mt-7.5">
          <button class="show-more-btn w-28.5! bg-accent! text-white">Отправить</button>

          <label class="text-tiny font-medium text-thumb-button flex flex-wrap cursor-pointer items-center gap-x-1.5">
            <span class="size-3.5 rounded-full border border-black grid place-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="6" height="5" fill="none" viewBox="0 0 6 5"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" d="m.5 2.15 1.65 1.652L5.459.5"/></svg>
            </span>
            <span>Принимаю <a href="#" class="underline">условия обработки</a> персональных данных</span>
          </label>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="container relative mb-7.5">
  <h3 class="mb-7 text-3xl -tracking-4 font-light">Новости</h3>

  {% include 'blocks/news-section.html' %}
</section>

{% include 'blocks/footer.html' %}
