{% include 'blocks/header.html' %}

<section class="mb-10 lg:mb-17.5">
  {% include 'blocks/breadcrumbs.html' %}

  <div class="flex gap-x-10 xl:gap-x-22">
    <div class="grow min-w-0">
      <img src="./static/imgs/mocks/1.png" alt="" class="object-cover aspect-1024/400 lg:rounded-sm mb-4 lg:mb-7.75 max-lg:-mx-4.25 max-w-[stretch]" />

      <p class="text-accent uppercase text-tiny font-medium mb-4 lg:mb-3.25"><span class="font-bold">форум</span> · бизнес</p>

      <h1 class="text-page-header lg:mb-8">24-26 ноября в Казани XVIII форум «Деловые партнёры Татарстана»</h1>
      <p class="text-tiny font-medium text-thumb-button mb-5 mt-1.25 lg:hidden">14 ноября 2025  ·  12:32</p>

      <p class="text-xl lg:text-[22px] leading-[1.4]">Ежегодное международное мероприятие, которое объединяет татарских предпринимателей из разных регионов России и стран</p>

      <div class="lg:hidden mt-5">
        <button class="show-more-btn bg-accent! text-white">Участвовать</button>

        <div class="flex gap-x-2.5 mt-5">
          <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-9 grid place-content-center">
            <img src="./static/imgs/icons/social/tg-black.svg" alt="" width="14" height="14" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-9 grid place-content-center">
            <img src="./static/imgs/icons/social/wa-black.svg" alt="" width="14" height="14" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-9 grid place-content-center">
            <img src="./static/imgs/icons/social/vk-black.svg" alt="" width="14" height="14" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-9 grid place-content-center">
            <img src="./static/imgs/icons/social/max-black.svg" alt="" width="14" height="14" />
          </a>
        </div>
      </div>

      <hr class="text-black/10 my-10" />

      <div class="mb-10 lg:mb-17.5">
        <h4 class="text-block-header font-semibold mb-5 lg:mb-7.5">О форуме</h4>
        <p class="text-lg lg:text-xl leading-[1.4] font-light">
          С 2004 года в течение восьми лет в Республике Татарстан проходили форумы «Деловые партнеры Татарстана». Бизнес-сообщество татар из регионов РФ и стран зарубежья способствовали консолидации и координации торгово-экономической деятельности Республики Татарстан с хозяйствующими субъектами за его пределами. В этот период в регионах РФ, странах ближнего и дальнего зарубежья были созданы более сорока торговых домов, торгово-экономических и полномочных представительства РТ.
          <br/><br/>
          В дальнейшем по инициативе Исполкома ВКТ и бизнесменов татар РФ и стран зарубежья была создана Всемирная ассоциация содействия татарским предпринимателям. Участие татарского бизнеса в процессах возрождения национальной культуры, языка, самобытности народа стало хорошей традицией, свидетельством этого являются многочисленные мероприятия межрегионального и международного значения, консолидирующие татарскую нацию в современном этапе. С 2014 года исходя из сложившихся новых экономических реалий в стране, требующих коренных изменений межрегиональных торгово-экономических связей, в первую очередь в сфере производства и реализации сельскохозяйственной продукции, Исполком Всемирного конгресса татар возобновил проведение ежегодного форума «Деловые партнеры Татарстана».
        </p>

        <a href="#" class="show-more-btn mt-5 lg:mt-7.5">Показать полностью</a>
      </div>

      <div class="mb-10 lg:mb-17.5 embla relative">
        <div class="flex justify-between items-center mb-6.75 min-h-5">
          <h4 class="text-block-header font-semibold">Новости форума</h4>

          <div class="h-10 w-20 grid grid-cols-2 max-sm:hidden">
            <button class="embla__prev flex items-center justify-center aspect-square">
              <img src="./static/imgs/icons/slider-arrow-left.svg" alt="" width="20" height="20" />
            </button>
            <button class="embla__next flex items-center justify-center aspect-square bg-white rounded-sm">
              <img src="./static/imgs/icons/slider-arrow-right.svg" alt="" width="20" height="20" />
            </button>
          </div>
        </div>

        <div class="embla__viewport">
          <div class="embla__container">
            {% for _ in range(6) %}
            <a href="#" class="text-tiny rounded-sm flex flex-col bg-white min-w-0 w-82 shrink-0 ml-5">
              <img src="./static/imgs/mocks/1.png" alt="" class="object-cover rounded-sm aspect-video sm:h-50" />

              <div class="p-4 xl:px-7.5 xl:pt-5.5 xl:pb-5.25 grow flex flex-col">
                <p class="text-accent uppercase">
                  <span class="font-bold">Новость</span> · Политика
                </p>
                <p class="-tracking-2 mt-3.25 mb-1 line-clamp-5 font-bold text-base grow">
                  Раскрой свой потенциал: в Татарстане стартует премия «Студент года Республики Татарстан — 2025»
                </p>
                <p class="text-thumb-button">2 дня назад</p>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>

        <a href="#" class="show-more-btn mt-5">Все новости форума</a>
      </div>

      <div class="mb-10 lg:mb-17.5">
        <h4 class="text-block-header font-semibold mb-5 lg:mb-6">Программа форума 2025</h4>

        <div class="space-y-6">
          {% for _ in range(2) %}
          <div>
            <h4 class="lg:text-lg font-semibold">26 ноября, воскресенье</h4>
            <div class="rounded-sm h-0.5 bg-accent mt-1.5 mb-5 lg:my-2.5 w-full"></div>

            <table class="table -tracking-2 text-xs w-full">
              <thead>
              <tr>
                <th>Время</th>
                <th>событие</th>
                <th>локация</th>
              </tr>
              </thead>
              <tbody>
              {% for _ in range(5) %}
              <tr>
                <td>
                  <div class="md:hidden mb-2 text-[8px] uppercase font-bold leading-[1.2] text-thumb-button">Время</div>
                  <p class="text-base max-md:inline font-bold md:text-2xl">14:00</p>
                  <span class="text-base md:text-tiny font-medium"><span>-</span> 24:00</span>
                </td>
                <td class="text-xs">
                  <div class="md:hidden mb-2 text-[8px] uppercase font-bold leading-[1.2] text-thumb-button">событие</div>
                  <p class="max-md:text-base font-bold">Приезд участников Форума</p>

                  <p class="max-md:text-tiny mt-2.5">
                    - Сельское хозяйство и животноводство<br/>
                    - Промышленность, металлургия, машиностроение<br/>
                    - Нефтегазовая отрасль<br/>
                    - Сфера услуг<br/>
                  </p>

                  <p class="text-sm font-bold mt-4">Шайхразиев Василь Габтелгаязович</p>
                  <p class="text-tiny font-medium mt-1">Заместитель Премьер-министра Республики Татарстан, Председатель Национального Совета Всемирного конгресса татар</p>
                </td>
                <td>
                  <div class="md:hidden mb-2 text-[8px] uppercase font-bold leading-[1.2] text-thumb-button">локация</div>
                  <p class="font-semibold">Зал «Достоевский»</p>
                  <p class="font-medium">ГТРК «Корстон», ул. Ершова, 1а</p>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% endfor %}
        </div>

        <a href="#" class="show-more-btn mt-5">Загрузить больше</a>
      </div>

      <div class="mb-10 lg:mb-15 embla relative">
        <div class="flex justify-between items-center mb-6.75 min-h-5">
          <h4 class="text-block-header font-semibold">Фото и видео</h4>

          <div class="h-10 w-20 grid grid-cols-2">
            <button class="embla__prev flex items-center justify-center aspect-square">
              <img src="./static/imgs/icons/slider-arrow-left.svg" alt="" width="20" height="20" />
            </button>
            <button class="embla__next flex items-center justify-center aspect-square bg-white rounded-sm">
              <img src="./static/imgs/icons/slider-arrow-right.svg" alt="" width="20" height="20" />
            </button>
          </div>
        </div>

        <div class="embla__viewport">
          <div class="embla__container">
            {% for _ in range(6) %}
            <div class="ml-2.5 sm:ml-5 w-82 shrink-0 min-w-0">
              {% include 'blocks/media-card.html'  %}
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="mt-5 flex justify-center gap-x-2.5 embla__dots"></div>
      </div>

      <div class="mb-10 lg:mb-17.5">
        <h4 class="mb-5 text-block-header font-semibold">Участники форума 2025</h4>
<!--        <table class="table">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Регион</th>-->
<!--            <th>ФИО</th>-->
<!--            <th>Должность и Организация</th>-->
<!--            <th>Контакты</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          {% for _ in range(3) %}-->
<!--          <tr>-->
<!--            <td>-->
<!--              <p>Российская Федерация, Алтайский край</p>-->
<!--            </td>-->
<!--            <td>-->
<!--              <p>Замалиева Татьяна Александровна</p>-->
<!--              <p>Замалиева Татьяна Александровна</p>-->
<!--            </td>-->
<!--            <td>-->
<!--              <p><span>Менеджер</span> ООО Сельхозтехника - основан в 2011</p>-->
<!--              <p><span>Генеральный директор</span> ООО Автоград - основан в 2011</p>-->
<!--            </td>-->
<!--            <td><a href="#">agroliderr@mail.ru</a></td>-->
<!--          </tr>-->
<!--          {% endfor %}-->
<!--          </tbody>-->
<!--        </table>-->

        <button class="show-more-btn mt-5">Загрузить больше</button>
      </div>

      <div class="mb-10 lg:mb-17.5">
        <h4 class="text-block-header font-semibold mb-5.5">Документы</h4>

        {% include 'blocks/documents.html' %}
      </div>

      {% include 'blocks/contacts-section.html' %}
    </div>

    <div class="w-65 shrink-0 space-y-10 max-lg:hidden">
      <div class="bg-white rounded-sm grid place-content-center aspect-square">
        <img src="./static/imgs/mocks/vftm.png" alt="" class="size-full object-contain" />
      </div>

      {% include 'blocks/about-nav.html' %}

      <button class="show-more-btn bg-accent! text-white">Участвовать</button>

      <div class="flex gap-x-2.5">
        <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-9 grid place-content-center">
          <img src="./static/imgs/icons/social/tg-black.svg" alt="" width="14" height="14" />
        </a>
        <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-9 grid place-content-center">
          <img src="./static/imgs/icons/social/wa-black.svg" alt="" width="14" height="14" />
        </a>
        <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-9 grid place-content-center">
          <img src="./static/imgs/icons/social/vk-black.svg" alt="" width="14" height="14" />
        </a>
        <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-9 grid place-content-center">
          <img src="./static/imgs/icons/social/max-black.svg" alt="" width="14" height="14" />
        </a>
      </div>
    </div>
  </div>
</section>

<section class="lg:mb-7.5">
  <h4 class="mb-7 text-block-header">Новости</h4>

  {% include 'blocks/news-section.html' %}
</section>

{% include 'blocks/footer.html' %}
