{% include 'blocks/header.html' %}

<section class="mb-10 lg:mb-17.5 flex max-lg:flex-col gap-x-10 xl:gap-x-22">
  <div class="grow min-w-0">
    {% include 'blocks/breadcrumbs.html' %}

    <h1 class="text-page-header mb-7.5">Съезды и форумы</h1>

    <div class="mb-10">
      {% include 'blocks/tabs-2.html' %}
    </div>

    {% for _ in range(4) %}
    <div class="flex max-lg:flex-col gap-x-2.5 gap-y-1 mb-5 lg:mb-10 min-h-60">
      <a href="#" class="shrink-0 w-full lg:w-60 max-lg:h-45 rounded-sm bg-white grid place-content-center">
        <img src="./static/imgs/mocks/vftm.png" alt="" class="max-w-full max-h-full object-contain" />
      </a>

      <div class="rounded-sm bg-white px-4 py-5 lg:p-7.5 lg:pt-5.25 relative">
        <img src="./static/imgs/icons/arrow-up-right-black.svg" alt="" width="50" height="50" class="absolute top-5 right-5 max-lg:hidden" />

        <p class="mb-1.75 lg:mb-3 text-accent uppercase font-medium text-[8px] lg:text-tiny"><span class="font-bold">форум</span> · бизнес</p>
        <p class="font-semibold lg:pr-14 text-xl lg:text-2xl mb-5 lg:mb-7">Форум «Деловые партнёры Татарстана»</p>

        <p class="max-lg:text-sm font-medium leading-[1.4]">Ежегодное международное мероприятие, которое объединяет татарских предпринимателей из разных регионов России и стран</p>

        <div class="hidden mt-5.75 lg:flex flex-wrap gap-2 font-semibold text-xs">
          <a href="#" class="rounded-sm border border-button pt-2.25 pb-2.75 px-3.75">О форуме</a>
          <a href="#" class="rounded-sm border border-button pt-2.25 pb-2.75 px-3.75">Новости форума</a>
          <a href="#" class="rounded-sm border border-button pt-2.25 pb-2.75 px-3.75">Участники</a>
          <a href="#" class="rounded-sm border border-button pt-2.25 pb-2.75 px-3.75">Программа</a>
          <a href="#" class="rounded-sm border border-button pt-2.25 pb-2.75 px-3.75">Фото и видео</a>
          <a href="#" class="rounded-sm border border-button pt-2.25 pb-2.75 px-3.75">Документы</a>
        </div>
      </div>
    </div>
    {% endfor %}

    <button class="show-more-btn mb-7.5">Загрузить больше</button>
    {% include 'blocks/pagination.html' %}
  </div>

  <div class="shrink-0 w-65 space-y-7.5 max-lg:hidden">
    {% include 'blocks/about-nav.html' %}

    <div class="rounded-sm overflow-hidden aspect-square bg-white"></div>

    {% include 'blocks/aside-happy-birthday.html' %}

    <div class="rounded-sm overflow-hidden aspect-square bg-white"></div>
  </div>
</section>

<section class="mb-10 lg:mb-12.5">
  {% include 'blocks/congress-media.html' %}
</section>

<section class="mb-10 lg:mb-17.5">
  {% include 'blocks/congress-projects.html' %}
</section>

{% include 'blocks/map.html' %}

{% include 'blocks/footer.html' %}
