{% include 'blocks/header.html' %}

<section class="mb-10 lg:mb-15 text-white container grid sm:grid-cols-2 gap-5">
  <div class="max-lg:col-span-full lg:row-span-2 sm:max-lg:aspect-video">
    {% include 'blocks/news-main-banner.html' %}
  </div>

  <a href="#" class="text-tiny flex flex-col lg:flex-row-reverse items-stretch bg-accent rounded-sm">
    <img src="./static/imgs/mocks/1.png" alt="" class="w-full aspect-356/218 lg:w-1/2 xl:w-82 rounded-sm shrink-0 object-cover" />

    <div class="p-4 lg:px-7.5 lg:py-5.5 flex flex-col min-w-0">
      <p class="uppercase">
        <span class="font-bold">Новость</span> · Анонс
      </p>

      <div class="grow">
        <p class="-tracking-2 font-bold lg:line-clamp-4 text-base lg:text-lg mt-3 mb-4.5">Вы этого ждали и мы тоже! Уже совсем скоро стартует всемирная образовательная акция «Татарча диктант»!</p>
      </div>

      <p>16 часов назад</p>
    </div>
  </a>

  <a href="#" class="text-tiny flex flex-col lg:flex-row-reverse items-stretch bg-white rounded-sm">
    <img src="./static/imgs/mocks/1.png" alt="" class="w-full aspect-356/218 lg:w-1/2 xl:w-82 rounded-sm shrink-0 object-cover" />

    <div class="p-4 lg:px-7.5 lg:py-5.5 flex flex-col min-w-0">
      <p class="uppercase text-accent">
        <span class="font-bold">Новость</span> · Анонс
      </p>

      <div class="grow">
        <p class="-tracking-2 font-bold text-black lg:line-clamp-4 text-base lg:text-lg mt-3 mb-4.5">Республиканский конкурс «Татар кызы 2026» объявляет старт муниципальных и зональных этапов!</p>
      </div>

      <p class="text-thumb-button">16 часов назад</p>
    </div>
  </a>
</section>

<section class="mb-10 lg:mb-12.5 container grid md:grid-cols-3 xl:grid-cols-4 gap-5">
  <a href="#" class="flex items-start xl:items-center gap-x-4">
      <span class="rounded-full border border-accent shrink-0 p-1.25 size-22.5 bg-white">
        <img src="./static/imgs/mocks/2.png" alt="" class="size-full object-cover rounded-fulll" />
      </span>

    <div>
      <span class="max-md:mt-1.25 status bg-white">ВИДЕО</span>

      <p class="mt-1.5 font-bold text-sm">
        Интервью с чемпионом России – Михаилом Кокляевым
      </p>
    </div>
  </a>
  <a href="#" class="flex items-start xl:items-center gap-x-4">
      <span class="rounded-full border border-accent shrink-0 p-1.25 size-22.5 bg-white">
        <img src="./static/imgs/mocks/2.png" alt="" class="size-full object-cover rounded-fulll" />
      </span>

    <div>
      <span class="max-md:mt-1.25 status bg-white">ВИДЕО</span>

      <p class="mt-1.5 font-bold text-sm">
        Интервью с чемпионом России – Михаилом Кокляевым
      </p>
    </div>
  </a>
  <a href="#" class="flex items-start xl:items-center gap-x-4">
      <span class="rounded-full border border-accent shrink-0 p-1.25 size-22.5 bg-white">
        <img src="./static/imgs/mocks/2.png" alt="" class="size-full object-cover rounded-fulll" />
      </span>

    <div>
      <span class="max-md:mt-1.25 status bg-white">ВИДЕО</span>

      <p class="mt-1.5 font-bold text-sm">
        Интервью с чемпионом России – Михаилом Кокляевым
      </p>
    </div>
  </a>
  <a href="#" class="max-xl:hidden flex items-center gap-x-4">
      <span class="rounded-full border border-accent shrink-0 p-1.25 size-22.5 bg-white">
        <img src="./static/imgs/mocks/2.png" alt="" class="size-full object-cover rounded-fulll" />
      </span>

    <div>
      <span class="status bg-white">ВИДЕО</span>

      <p class="mt-1.5 font-bold text-sm">
        Интервью с чемпионом России – Михаилом Кокляевым
      </p>
    </div>
  </a>
</section>

<section class="container mb-10 lg:mb-20">
  <div class="mb-7.5 min-w-0 relative">
    <div class="flex xl:justify-center no-scrollbar overflow-x-auto text-base gap-x-5 lg:text-xl xl:text-3xl font-light -tracking-4 xl:gap-x-10 text-thumb-button whitespace-nowrap">
      <button class="pb-4.25 text-black border-b border-accent">Все новости</button>
      <button class="pb-4.25">Культура</button>
      <button class="pb-4.25">Политика</button>
      <button class="pb-4.25">Молодёжь</button>
      <button class="pb-4.25">Религия</button>
      <button class="pb-4.25">В мире</button>
    </div>

    <div class="absolute inset-x-0 bottom-0 h-px bg-thumb-button -z-1"></div>
  </div>

  {% include 'blocks/news-section.html' %}
</section>

<section class="container mb-10 lg:mb-12.5 grid md:grid-cols-2 gap-5">
  <div class="relative bg-white rounded-sm overflow-hidden">
    <div class="absolute top-1/2 -left-7 xl:left-6 -translate-y-1/2 bg-white2 rounded-full size-35 xl:size-74.5 p-2.75 xl:p-6.25">
      <img src="./static/imgs/mocks/3.png" alt="" class="size-full rounded-full object-cover" />
    </div>

    <div class="pl-31 xl:pl-87 pt-5 pb-5.5 pr-4.5 flex flex-col items-start">
      <span class="mb-4.5 bg-accent status text-white">ПЕРСОНА</span>

      <p class="mb-2.25 font-bold -tracking-2">Поздравляем Давлятова Ильдуса Ядкаровича с днем рождения!</p>

      <p class="mb-2.75 text-xs text-thumb-button">Родился 20 декабря 1969 года</p>

      <p class="text-xs">Депутат Законодательного Собрания Оренбургской области 6 созыва, кандидат сельскохозяйственных наук.</p>
    </div>
  </div>
  <div class="max-md:hidden relative bg-white rounded-sm overflow-hidden">
    <div class="absolute top-1/2 -left-7 xl:left-6 -translate-y-1/2 bg-white2 rounded-full size-35 xl:size-74.5 p-2.75 xl:p-6.25">
      <img src="./static/imgs/mocks/3.png" alt="" class="size-full rounded-full object-cover" />
    </div>

    <div class="pl-31 xl:pl-87 pt-5 pb-5.5 pr-4.5 flex flex-col items-start">
      <span class="mb-4.5 bg-accent status text-white">ПЕРСОНА</span>

      <p class="mb-2.25 font-bold -tracking-2">Поздравляем Давлятова Ильдуса Ядкаровича с днем рождения!</p>

      <p class="mb-2.75 text-xs text-thumb-button">Родился 20 декабря 1969 года</p>

      <p class="text-xs">Депутат Законодательного Собрания Оренбургской области 6 созыва, кандидат сельскохозяйственных наук.</p>
    </div>
  </div>
</section>

<section class="container mb-10 lg:mb-12.5">
  {% include 'blocks/congress-media.html' %}
</section>

<section class="container mb-10 lg:mb-17.5">
  {% include 'blocks/congress-projects.html' %}
</section>

{% include 'blocks/map.html' %}

{% include 'blocks/footer.html' %}
