{% include 'blocks/header.html' %}

<section class="mb-10 lg:mb-17.5">
  {% include 'blocks/breadcrumbs.html' %}

  <div class="flex gap-x-10 xl:gap-x-34">
    <div class="grow min-w-0">
      <div class="pb-10 lg:pb-20 space-y-10 lg:space-y-15 mb-2.5 news-in-wrapper lg:pr-14.5">
        <div>
          <div class="relative aspect-908/400 mb-4 lg:mb-10.25 img max-lg:-mx-4.25">
            <img src="./static/imgs/mocks/9.png" alt="" class="object-cover size-full rounded-sm" />

            <div class="flex gap-x-2.5 absolute left-2.5 bottom-2.5">
              <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
                <img src="./static/imgs/icons/social/tg-black.svg" alt="" width="16" height="16" />
              </a>
              <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
                <img src="./static/imgs/icons/social/wa-black.svg" alt="" width="16" height="16" />
              </a>
              <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
                <img src="./static/imgs/icons/social/vk-black.svg" alt="" width="16" height="16" />
              </a>
              <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
                <img src="./static/imgs/icons/social/max-black.svg" alt="" width="16" height="16" />
              </a>
            </div>
          </div>

          <p class="text-xs mb-4 lg:mb-7.75 uppercase text-accent"><span class="font-bold">Новость</span> · встреча</p>
          <h1 class="font-semibold text-page-header mb-1.5 lg:mb-3">Руководитель Исполнительного комитета Всемирного конгресса татар Данис Шакиров встретился с ректором Казанского энергетического университета Эдвардом Абдуллазяновым</h1>

          <p class="font-medium text-xs text-thumb-button mb-10 lg:mb-15">14 ноября 2025 · 12:32</p>
        </div>

        <div class="space-y-5">
          <img src="./static/imgs/mocks/1.png" alt="" class="object-cover img aspect-908/500 rounded-sm" />

          <div class="aspect-908/500 rounded-sm overflow-hidden img bg-red-300">
            Видео сюда и удалите класс "bg-red-300"
          </div>

          <img src="./static/imgs/mocks/1.png" alt="" class="object-cover img aspect-908/500 rounded-sm" />
        </div>

        <div class="flex gap-x-2.5">
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-11 grid place-content-center">
            <img src="./static/imgs/icons/social/tg.svg" alt="" width="16" height="16" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-11 grid place-content-center">
            <img src="./static/imgs/icons/social/wa.svg" alt="" width="16" height="16" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-11 grid place-content-center">
            <img src="./static/imgs/icons/social/vk.svg" alt="" width="16" height="16" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-11 grid place-content-center">
            <img src="./static/imgs/icons/social/max.svg" alt="" width="16" height="16" />
          </a>
        </div>
      </div>

      {% include 'blocks/comments-block.html' %}
    </div>

    <div class="space-y-5 w-65 xl:w-82 shrink-0 max-lg:hidden">
      {% for _ in range(4) %}
      {% include 'blocks/media-card.html' %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="lg:mb-7.5">
  <h3 class="mb-5 lg:mb-8 text-block-header font-semibold">Другие новости</h3>

  {% include 'blocks/news-section.html' %}
</section>

{% include 'blocks/footer.html' %}
