{% include 'blocks/header.html' %}

<section class="container mb-17.5 flex gap-x-22">
  <div class="grow min-w-0">
    {% include 'blocks/breadcrumbs.html' %}

    <h1 class="text-page-header mb-7.5">Медиа · Газета «Халкым минем»</h1>

    <div class="relative aspect-908/400 mb-10.25 img">
      <img src="./static/imgs/mocks/9.png" alt="" class="object-cover size-full rounded-sm" />

      <div class="flex gap-x-2.5 absolute left-2.5 bottom-2.5">
        <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
          <img src="./static/imgs/icons/social/tg-black.svg" alt="" width="16" height="16" />
        </a>
        <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
          <img src="./static/imgs/icons/social/wa-black.svg" alt="" width="16" height="16" />
        </a>
        <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
          <img src="./static/imgs/icons/social/vk-black.svg" alt="" width="16" height="16" />
        </a>
        <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
          <img src="./static/imgs/icons/social/max-black.svg" alt="" width="16" height="16" />
        </a>
      </div>
    </div>

    <h3 class="mt-10 text-2xl font-semibold mb-3">О проекте</h3>
    <p class="font-light text-lg leading-[1.4]">Татарский краеведческий журнал, издаваемый в Казани с 2017 года на татарском
      и русском языках. Он является печатным органом краеведческого движения
      и публикует материалы по истории, культуре и языку татарского народа. </p>

    <hr class="mt-10 mb-11 text-black/10" />

    <div class="embla relative mb-17.5">
      <div class="flex justify-between items-center mb-6.75 min-h-5">
        <h4 class="text-3xl font-semibold">Лучшие материалы</h4>

        <div class="h-10 w-20 grid grid-cols-2 max-sm:hidden">
          <button class="embla__prev flex items-center justify-center aspect-square">
            <img src="./static/imgs/icons/slider-arrow-left.svg" alt="" width="20" height="20" />
          </button>
          <button class="embla__next flex items-center justify-center aspect-square bg-white rounded-sm">
            <img src="./static/imgs/icons/slider-arrow-right.svg" alt="" width="20" height="20" />
          </button>
        </div>
      </div>

      <div class="embla__viewport">
        <div class="embla__container">
          {% for _ in range(10) %}
          <a href="#" class="text-tiny rounded-sm flex flex-col bg-white min-w-0 shrink-0 w-82 ml-5">
            <img src="./static/imgs/mocks/1.png" alt="" class="object-cover rounded-sm aspect-video sm:h-50" />

            <div class="p-4 xl:px-7.5 xl:pt-5.5 xl:pb-5.25 grow flex flex-col">
              <p class="text-accent uppercase">
                <span class="font-bold">Новость</span> · Политика
              </p>
              <p class="-tracking-2 mt-3.25 mb-1 line-clamp-5 font-bold text-base grow">
                Раскрой свой потенциал: в Татарстане стартует премия «Студент года Республики Татарстан — 2025»
              </p>
              <p class="text-thumb-button">2 дня назад</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>

      <a href="#" class="show-more-btn mt-5">Все материалы</a>
    </div>


    <h3 class="text-2xl font-semibold mb-7.5">Архив журнала</h3>
    <form class="relative border-b border-black/10 grow">
      <button type="submit" class="absolute left-0 top-1/2 -translate-y-1/2 size-4.5">
        <img src="./static/imgs/icons/loop.svg" alt="" width="18" height="18">
      </button>

      <input type="text" placeholder="Поиск по выпускам" class="pl-7 py-2.75 w-full placeholder:text-black text-xs"/>
    </form>

    <div class="my-10">
      {% include 'blocks/tabs-2.html' %}
    </div>

    <div class="grid grid-cols-4 gap-y-7.5 gap-x-5 mb-7.5">
      {% for _ in range(8) %}
      <a href="#" class="flex flex-col">
        <img src="./static/imgs/mocks/10.png" alt="" class="rounded-sm aspect-240/374 w-full" />
        <p class="mb-1.25 font-bold -tracking-2 mt-4">Январь 2025</p>
        <p class="text-tiny text-thumb-button">1,1 тыс просмотров · 8 дней назад</p>
      </a>
      {% endfor %}
    </div>

    <button class="show-more-btn mb-7.5">Загрузить больше</button>
    {% include 'blocks/pagination.html' %}
  </div>

  <div class="shrink-0 w-65 space-y-7.5">
    {% include 'blocks/about-nav.html' %}

    <div class="rounded-sm overflow-hidden aspect-square bg-white"></div>

    {% include 'blocks/aside-happy-birthday.html' %}

    <div class="rounded-sm overflow-hidden aspect-square bg-white"></div>
  </div>
</section>

<section class="container relative mb-7.5">
  <h3 class="mb-8 text-3xl -tracking-4">Новости</h3>

  {% include 'blocks/news-section.html' %}
</section>

{% include 'blocks/footer.html' %}
