{% include 'blocks/header.html' %}

<section class="container mb-17.5 flex gap-x-22">
  <div class="grow min-w-0">
    {% include 'blocks/breadcrumbs.html' %}

    <h1 class="text-page-header mb-7.5">Новости всемирного конгресса татар</h1>

    <div class="aspect-1024/420 text-white">
      {% include 'blocks/news-main-banner.html' %}
    </div>

    <div class="my-10">
      {% include 'blocks/tabs-2.html' %}
    </div>

    <div class="space-y-7.5">
      {% for _ in range(4) %}
      <a href="#" class="text-tiny flex items-stretch bg-white rounded-sm">
        <img src="./static/imgs/mocks/1.png" alt="" class="w-full aspect-356/218 lg:w-1/2 xl:w-82 rounded-sm shrink-0 object-cover" />

        <div class="p-4 lg:px-7.5 lg:py-5.5 flex flex-col min-w-0">
          <p class="uppercase text-accent">
            <span class="font-bold">Новость</span> · Анонс
          </p>

          <div class="grow">
            <p class="-tracking-2 font-bold text-black lg:line-clamp-4 text-base lg:text-lg mt-3 mb-4.5">Республиканский конкурс «Татар кызы 2026» объявляет старт муниципальных и зональных этапов!</p>
          </div>

          <p class="text-thumb-button">16 часов назад</p>
        </div>
      </a>
      {% endfor %}

      <button class="show-more-btn">Загрузить больше</button>
      {% include 'blocks/pagination.html' %}
    </div>
  </div>

  <div class="shrink-0 w-65 space-y-7.5">
    {% include 'blocks/about-nav.html' %}

    <div class="rounded-sm overflow-hidden aspect-square bg-white"></div>

    {% include 'blocks/aside-happy-birthday.html' %}

    <div class="rounded-sm overflow-hidden aspect-square bg-white"></div>
  </div>
</section>

<section class="container mb-12.5">
  {% include 'blocks/congress-media.html' %}
</section>

<section class="container mb-17.5">
  {% include 'blocks/congress-projects.html' %}
</section>

{% include 'blocks/map.html' %}

{% include 'blocks/footer.html' %}
