{% include 'blocks/header.html' %}

<section class="mb-10 lg:mb-17.5">
  {% include 'blocks/breadcrumbs.html' %}

  <div class="flex gap-x-10 xl:gap-x-34">
    <div class="grow min-w-0">
      <div class="pb-10 lg:pb-20 space-y-10 lg:space-y-15 mb-2.5 news-in-wrapper lg:pr-14.5">
        <div>
          <div class="relative aspect-908/400 mb-4 lg:mb-10.25 img max-lg:-mx-4.25">
            <img src="./static/imgs/mocks/9.png" alt="" class="object-cover size-full rounded-sm" />

            <div class="flex gap-x-2.5 absolute left-2.5 bottom-2.5">
              <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
                <img src="./static/imgs/icons/social/tg-black.svg" alt="" width="16" height="16" />
              </a>
              <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
                <img src="./static/imgs/icons/social/wa-black.svg" alt="" width="16" height="16" />
              </a>
              <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
                <img src="./static/imgs/icons/social/vk-black.svg" alt="" width="16" height="16" />
              </a>
              <a href="#" rel="nofollow" target="_blank" class="bg-white rounded-full size-11 grid place-content-center">
                <img src="./static/imgs/icons/social/max-black.svg" alt="" width="16" height="16" />
              </a>
            </div>
          </div>

          <p class="text-xs mb-4 lg:mb-7.75 uppercase text-accent"><span class="font-bold">Новость</span> · встреча</p>
          <h1 class="font-semibold text-page-header mb-2.5 lg:mb-3">Руководитель Исполнительного комитета Всемирного конгресса татар Данис Шакиров встретился с ректором Казанского энергетического университета Эдвардом Абдуллазяновым</h1>

          <p class="font-medium text-tiny lg:text-xs text-thumb-button mb-10 lg:mb-15">14 ноября 2025 · 12:32</p>

          <p class="text-lg lg:text-xl font-light">Сегодня, 14 ноября, депутат Государственного Совета Республики Татарстан, первый заместитель Председателя Национального совета Всемирного конгресса татар — руководитель Исполнительного комитета Всемирного конгресса татар Данис Шакиров встретился с ректором Казанского энергетического университета Эдвардом Абдуллазяновым. В ходе встречи обсуждались вопросы реализации национальных проектов.</p>
        </div>

        <img src="./static/imgs/mocks/1.png" alt="" class="object-cover img aspect-908/500 rounded-sm" />

        <div>
          <h3 class="mb-5 text-block-header font-semibold">Цели встречи</h3>
          <p class="font-light text-lg lg:text-xl leading-[1.4]">Встреча между депутатом Государственного Совета Республики Татарстан, первым заместителем Председателя Национального совета Всемирного конгресса татар — руководителем Исполнительного комитета Всемирного конгресса татар Данисом Шакировым и ректором Казанского энергетического университета Эдвардом Абдуллазяновым, состоявшаяся 14 ноября, была направлена на обсуждение вопросов реализации национальных проектов.</p>
        </div>

        <div class="relative rounded-sm bg-grey2 px-3.5 lg:px-10 pb-5 lg:pb-8.25 pt-16 lg:pt-18.75">
          <img src="./static/imgs/icons/quotes.svg" alt="" class="absolute top-5 left-3.5 lg:left-5" width="38" height="30" />

          <blockquote class="text-lg lg:text-xl font-semibold leading-[1.4]">
            Встреча с руководством КГЭУ была посвящена актуальным вопросам национальных проектов. Обсудили пути эффективной реализации национальных проектов в рамках взаимодействия.
          </blockquote>

          <p class="mt-5 lg:mt-5.5 mb-1 text-base font-semibold">Данис Шакиров</p>
          <span class="text-accent font-medium text-xs">Руководитель исполнительного комитета Всемирного конгресса татар</span>
        </div>

        <div>
          <h3 class="mb-5 text-block-header font-semibold">Итоги встречи</h3>
          <p class="font-light text-lg lg:text-xl leading-[1.4]">В центре внимания участников встречи находилось обсуждение вопросов реализации национальных проектов. Встреча подчеркнула важность взаимодействия между представителями законодательной власти, национальных общественных организаций и руководством ключевых образовательных учреждений республики. Конструктивный диалог был посвящён практическим аспектам выполнения приоритетных национальных проектов в регионе.</p>
        </div>

        <div class="flex gap-x-2.5">
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-11 grid place-content-center">
            <img src="./static/imgs/icons/social/tg.svg" alt="" width="16" height="16" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-11 grid place-content-center">
            <img src="./static/imgs/icons/social/wa.svg" alt="" width="16" height="16" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-11 grid place-content-center">
            <img src="./static/imgs/icons/social/vk.svg" alt="" width="16" height="16" />
          </a>
          <a href="#" rel="nofollow" target="_blank" class="bg-black rounded-full size-11 grid place-content-center">
            <img src="./static/imgs/icons/social/max.svg" alt="" width="16" height="16" />
          </a>
        </div>
      </div>

      {% include 'blocks/comments-block.html' %}
    </div>

    <div class="space-y-5 w-65 xl:w-82 shrink-0 max-lg:hidden">
      {% for _ in range(4) %}
      <a href="#" class="text-tiny rounded-sm flex flex-col bg-white">
        <img src="./static/imgs/mocks/1.png" alt="" class="object-cover rounded-sm aspect-video sm:h-50" />

        <div class="p-4 xl:px-7.5 xl:pt-5.5 xl:pb-5.25 grow flex flex-col">
          <p class="text-accent uppercase">
            <span class="font-bold">Новость</span> · Политика
          </p>
          <p class="-tracking-2 mt-3.25 mb-1 line-clamp-5 font-bold text-base grow">
            Раскрой свой потенциал: в Татарстане стартует премия «Студент года Республики Татарстан — 2025»
          </p>
          <p class="text-thumb-button">2 дня назад</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<section class="lg:mb-27.5">
  {% include 'blocks/news-section.html' %}
</section>

{% include 'blocks/footer.html' %}
