{% include 'blocks/header.html' %}

<section class="mb-17.5 flex gap-x-22">
  <div class="grow">
    {% include 'blocks/breadcrumbs.html' %}

    <h1 class="text-page-header mb-7.5">Татарские организации в регионах России</h1>

    <form class="relative border-b border-black/10 mb-6">
      <button type="submit" class="absolute left-0 top-1/2 -translate-y-1/2 size-4.5">
        <img src="./static/imgs/icons/loop.svg" alt="" width="18" height="18">
      </button>

      <input type="text" placeholder="Поиск по публикациям" class="pl-7 py-2.75 w-full placeholder:text-black text-xs"/>
    </form>

    <section class="grid _orgs" id="map-section">
      <div class="right-sidebar lg:justify-self-end w-103.5 h-125">
        <div data-simplebar class="max-lg:hidden min-h-0 h-full pr-2.5">
          {% for _ in range(20) %}
          <a href="#" class="group after:absolute after:left-7.5 after:right-2.5 after:bottom-0 after:bg-grey after:h-px last:after:hidden flex items-center z-1 gap-x-2.5 text-tiny relative before:absolute before:inset-y-0 before:left-0 before:right-2.5 before:bg-white before:rounded-sm before:opacity-0 hover:before:opacity-100 before:-z-1 pl-7.5 py-6 pr-2.5 hover:after:hidden">
            <div class="grow">
              <p class="mb-2.5 text-accent uppercase font-medium"><span class="font-bold">Берлин</span> · германия</p>
              <p class="mb-2 text-base font-bold -tracking-2">Представительство Всемирного Конгресса Татар в Германии</p>
              <p class="text-thumb-button">Dorotheenstraße 30, 10117 Berlin, Германия</p>
            </div>

            <img src="./static/imgs/icons/arrow-up-right-black.svg" alt="" width="50" height="50" class="opacity-50 group-hover:opacity-100" />
          </a>
          {% endfor %}
        </div>
      </div>

      <div class="map bg-white rounded-r-sm"></div>
    </section>
  </div>

  <div class="shrink-0 w-65 min-w-0">
    <div class="my-10 flex gap-x-1 text-sm font-semibold">
      <button class="rounded-sm p-4 bg-white text-black grow flex items-center gap-x-3">
        <svg width="20" height="20" class="fill-current" xmlns="http://www.w3.org/2000/svg"><path d="M16.585 11.25H3.418c-1.25 0-1.75.533-1.75 1.858v3.367c0 1.325.5 1.858 1.75 1.858h13.167c1.25 0 1.75-.533 1.75-1.858v-3.367c0-1.325-.5-1.858-1.75-1.858M16.585 1.667H3.418c-1.25 0-1.75.533-1.75 1.858v3.367c0 1.325.5 1.858 1.75 1.858h13.167c1.25 0 1.75-.533 1.75-1.858V3.525c0-1.325-.5-1.858-1.75-1.858"/></svg>
        <span>Список</span>
      </button>

      <button class="rounded-sm p-4 bg-black text-white grow flex items-center gap-x-3">
        <svg width="20" height="20" class="fill-current" xmlns="http://www.w3.org/2000/svg"><path d="M6.36 2.975c.15-.082.308.044.308.214v11.278c0 .197-.135.364-.308.458l-1.958 1.117c-1.367.783-2.492.133-2.492-1.45V6.483c0-.525.375-1.175.842-1.441zM12.222 5.062a.5.5 0 0 1 .278.448v10.777a.5.5 0 0 1-.717.45l-3.375-1.626a.5.5 0 0 1-.283-.45V3.839a.5.5 0 0 1 .722-.448zM18.332 5.408v8.109c0 .525-.375 1.175-.842 1.441l-2.784 1.596a.5.5 0 0 1-.749-.433V5.323a.5.5 0 0 1 .252-.435l1.631-.93c1.367-.784 2.492-.134 2.492 1.45"/></svg>
        <span>Список</span>
      </button>
    </div>

    <div class="shrink-0 w-65">
      {% include 'blocks/about-nav.html' %}
    </div>
  </div>
</section>

<section class="relative mb-7.5">
  <h3 class="mb-7 text-3xl -tracking-4 font-light">Новости</h3>

  {% include 'blocks/news-section.html' %}
</section>

{% include 'blocks/footer.html' %}
